.form {
    .input {
        margin-bottom: 1rem;
    }

    .actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: stretch;
        align-items: center;

        margin-top: 1.6rem;
        width: 100%;

        .submitButton {
            height: 5.6rem;
        }
    }
}
