.spacer {
    flex: 1 0 auto;
}

.checkBoxes {
    padding-right: 10px;
}
.clearButton {
    padding-right: 10px;
    float: right;
}
.checkBoxName {
    margin-left: 5px;
    color: #e7a1af;
}
.SideBarTitle {
    font-weight: 500;
    margin-right: 5px;
}

.titleBox {
    height: 40px;
}

.itemBox {
    height: 47px;
}

.SideBar {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 2px;
}

.itemClass {
    border: 1px solid rgba(0, 0, 0, 0.17);
}

.serviceEntries {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}
