.SearchBar{
    height: 60px;
    /*
    background: linear-gradient(, rgba(231, 161, 175, 0) 100%);
    background: repeating-linear-gradient(180deg, #E7A1AF 0%);
    background: pink;
    */
    
    display: flex;
    align-content: top;
} 

.spacer {
    flex: 1 0 auto;
}

.filter{
    width: 412.69px; 
}

.buttonHolder{
    display: flex;
    margin-left: 50px;
    margin-right: 100px;
}
.checkBoxes{
    padding-right: 10px;
}
.checkBoxName{
    margin-left: 5px;
    color: #E7A1AF;
    width: 250px;
}
.SideBarTitle{
    font-weight: 500;
    width: 240px;
    justify-content: space-between;
}

.titleBox{
    height: 40px;
}

.itemBox{
    height: 47px;
}

.SideBar{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 2px;
}

.itemClass{
    border: 1px solid rgba(0, 0, 0, 0.17);
}