/* .Book {
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=pink-clouds-1831234.jpg&fm=jpg);
    height:100%;
}



.window {
    margin-top: 64
} */

.content {
    padding: 150px;
    position: relative;
    height: 100%;
}

.title {
    font-family: "Pacifico, sans-serif";
    display: inline-block;
}