.paymentButtons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 100%;
}

.paypalButton {
    background: #ffc439;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 50%;
}

.bigDiv {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testText {
    position: absolute;
    left: 0;
    bottom: 0;
}

.verticalSpacer {
    flex: 1 0;
}

.scheduleButton {
    background-color: white;
    border: 2px solid #79e827;
    border-radius: 10px;
    width: 25%;
}

.titleInitialPage {
    display: flex;
    justify-content: center;
    color: #e7a1af;
    font-family: Pacifico;
    font-size: 4rem;
}

.titleInitialPage2 {
    display: flex;
    justify-content: center;
    color: #e7a1af;
    font-family: Pacifico;
    font-size: 2rem;
}

.page2Title {
    margin: 4px;
}

.paperHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.p2Paper {
    padding: 10px;
}

.linkPaper {
    padding: 10px;
    margin-top: 10px;
}

.servicesLink {
    color: #e7a1af;
    text-decoration: none;
}

.servicesLink:hover {
    text-decoration: underline;
}

.quickLinksWindowDiv {
    margin: 10px;
}
.quickLinks {
    color: #e7a1af;
    text-decoration: none;
}
.quickLinks:hover {
    text-decoration: underline;
}

.appointmentInfoDiv {
    border: 2px solid pink;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.arrivalButton {
    text-decoration: none;
}

.arrivalButton:hover, .arrivalButton:active {
    color: pink;
}