
.paymentButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.paypalButton {
    background: #ffc439;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 50%;
}

.squareButton {
}

.bigDiv {
    padding: 5px;
}

.spacerDiv {
    flex: 1;
}

.questionDiv{
}