.Payments{
    background-image: url(https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=pink-clouds-1831234.jpg&fm=jpg);
    height:100%;
}
.paymentButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.paypalButton {
    background: #ffc439;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 50%;
}

.bigDiv {
    padding: 5px;
    position: relative;
    height: 100%;
}

.verticalSpacer {
    flex: 1 0;
}