* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
    }
}

.spacer {
    flex: 1 0 auto;
}
