.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    .content {
        max-height: 100%;
        width: 100%;
        padding: 48px 36px;

        overflow-y: auto;
        overflow-x: hidden;

        &.small {
            padding-top: 112px;
        }

        &:global(-enter),
        &:global(-appear) {
            opacity: 0;
            transform: translateX(350px);
        }

        &:global(-enter-active),
        &:global(-appear-active) {
            opacity: 1;
            transform: translateX(0);

            transition: opacity 0.25s, transform 0.25s;
        }

        &:global(-exit) {
            opacity: 1;
            transform: translateX(350px);
        }

        &:global(-exit-active) {
            opacity: 0;
            transform: translateX(0);

            transition: opacity 0.25s, transform 0.25s;
        }
    }
}

.initialLoader {
    &:global(-exit) {
        opacity: 1;
        transform: scale(1);
    }

    &:global(-exit-active) {
        opacity: 0;
        transform: scale(1.4);

        transition: opacity 0.25s, transform 0.25s;
    }
}

.sidebar {
    &:global(-enter),
    &:global(-appear) {
        opacity: 0;
        transform: translateX(-350px);
    }

    &:global(-enter-active),
    &:global(-appear-active) {
        opacity: 1;
        transform: translateX(0);

        transition: opacity 0.25s, transform 0.25s;
    }

    &:global(-exit) {
        opacity: 1;
        transform: translateX(-350px);
    }

    &:global(-exit-active) {
        opacity: 0;
        transform: translateX(0);

        transition: opacity 0.25s, transform 0.25s;
    }
}

header.appBar {
    background-color: #f1c7cf;
}
